<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Notes</title>
    <link rel="stylesheet" href="/stylesheets/profile.css" />
    <link rel="icon" type="image/png" href="/pictures/favicon.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Playwrite+HR+Lijeva:wght@100..400&display=swap" rel="stylesheet">
</head>
<body class="edu-au-vic-wa-nt-hand">
    <div>
        <a href="/logout" id="logout">Logout</a>
        <a href="/deleteacc/<%= user._id %>" id="deleteAcc">Delete account</a>
        <h1>Hello! <%= user.fname %> <%=user.lname%></h1>
        <div id="profileImage"><img src="/pictures/uploads/<%= user.profilepic %>"></div>
        <a href="/profile/upload" id="upload"><button class="btn edu-au-vic-wa-nt-hand">Upload</button></a>
    </div>
    <div id="createNote">
        <h3>Create new note</h3>
        <form action="/create" method="post">
            <textarea placeholder="Your note here" name="note" required class="edu-au-vic-wa-nt-hand"></textarea>
            <div><input id="createbtn" type="submit" value="Create" class="btn edu-au-vic-wa-nt-hand"></div>
        </form>
    </div>
    <div>
        <h3 style="margin-left: 5px;">My notes</h3>
        <% if (user.notes.length === 0) { %>
            <p style="margin-left: 5px;">No notes available</p>
            <% } else {%>
                <% user.notes.reverse().forEach(function(note) { %>
                    <div id="noteHere">🔴<%= note.note %>
                        <br /> <br />
                        <div><a href="/delete/<%= note._id %>"><img src="/pictures/delete.png" class="del" /></a> <a href="/edit/<%= note._id %>"><img src="/pictures/edit.png" class="edit" /></a></div>
                    </div>
                    <% }); %>
                <% }; %>
                        
    </div>
</body>
</html>